  <body>
      <div class="container-fluid">
  <div class="jumbotron">
    <center>
  <h1 class="display-3">Start-Up Immersion</h1>
  <p class="lead">Bienvenue sur <strong>Start-Up Immersion</strong>, le service qui vous met en relation avec les start-up qui vous intéressent !</p>
  <hr class="my-4">
  <p>Connectez-vous et découvrez toutes les immersions !</p>
  <p class="lead">
    
    <a class="btn btn-secondary btn-lg" href="#" role="button">Learn more</a>
     <a class="btn btn-secondary btn-lg" href="#" role="button">Sign in</a>
  </p>
     </center>

</div>
</div>