
<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

	<h1>Salut <%= @newsletter.email %> et bienvenue chez nous !</h1>
	<p>Tu t'es inscrit à la Newsletter Startup Immersion en utilisant l'e-mail suivant : <%= @newsletter.email %>.</p>
	<p>Pour créer ton espace personnel, inscris-toi via : <%= @url %>.</p>
	<p>À très vite sur Startup Immersion !</p>

</body>
</html>



