


<br/>
<div class="center">
  <h1>MODIFIER LE PROFIL</h1>
</div>
<br/>

<div class="center">

  <%= render 'form', user: @user %>

  <%= link_to 'Show', @user %> |
  <%= link_to 'Back', users_path %>


</div>
