<!-- Grid row -->
<body>
  <br />
  <h1 class="center">Photo Gallery</h1>
  <br />
  <div class="container">
    <!-- <div class="row">


    </div> -->
    <!-- Grid row -->

    <!-- Grid row -->
      <div class="gallery" id="gallery">

        <!-- Grid column -->
        <div class="mb-3  pics animation mdb-lightbox-ui ">
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" alt="Card image cap">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="mb-3 pics animation mdb-lightbox-ui ">
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain1.jpg" alt="Card image cap">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="mb-3 pics animation mdb-lightbox-ui">
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain2.jpg" alt="Card image cap">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="mb-3 pics animation mdb-lightbox-ui">
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg" alt="Card image cap">
        </div>

        <!-- Grid column -->
        <!-- Grid column -->
        <div class="mb-3 pics animation mdb-lightbox-ui">
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" alt="Card image cap">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="mb-3 pics animation mdb-lightbox-ui">
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain3.jpg" alt="Card image cap">
        </div>
        <!-- Grid column -->

      </div>
  <!-- Grid row -->
  </div>
<script src="app/assets/javascripts/gallery.js"></script>

</body>
