<h1>Editing Attendance</h1>

<%= render 'form', attendance: @attendance %>

<%= link_to 'Show', [@event, @attendance] %> |
<% if current_user && current_user.admin? %>
  <%= link_to 'Back', admin_event_attendances_path(@event) %>
<% else %>
  <%= link_to 'Back', user_path(current_user) %>
<% end %>
