

<div class="footer">
   <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <center>
            <h4>Social Network</h4>
                  <a href="#"><img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 30px; height: 30px;" src=<%= asset_path 'insta_logo.png' %> data-holder-rendered="true"></a>
                  <a href="#"><img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 30px; height: 30px;" src=<%= asset_path 'twitter_logo.png' %> data-holder-rendered="true"></a>
                  <a href="#"><img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 30px; height: 30px;" src=<%= asset_path 'fcbk_logo.png' %> data-holder-rendered="true"></a>
                  </center>
          </div>
          <div class="col-lg-6">
            <center>
            <h4>Nous contacter</h4>
              <p>random[@]mail.com</p>
              </center>
          </div>
          <div class="col-lg-3">
            <center>
            <h4>Mentions légales</h4>
            </center>
          </div>
        </div>
</div>
